

###pip instalation for all the libraries:
'''
pip install opencv-python
pip install numpy
pip install scikit-image
pip install torch
pip install tensorflow
pip install Flask
pip install fastai
pip install deoldify

'''
Incase you face difficulty for deoldify:

!git clone https://github.com/jantic/DeOldify.git DeOldify 
cd DeOldify

#NOTE:  This must be the first call in order to work properly!
from deoldify import device
from deoldify.device_id import DeviceId
#choices:  CPU, GPU0...GPU7
device.set(device=DeviceId.GPU0)

import torch

if not torch.cuda.is_available():
    print('GPU not available.')

!pip install -r requirements-colab.txt
